@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
:root{
    --white: #fff;
    --black: #000;
    --gray100: #969696;
    --gray200: #727272;
    --gray700: #272727;
    --gray800: #1a1919;
    --green: #03ff8d;
    --green800: #00c26b57;
    --blue: #37aee2;
}

body{
    background: var(--gray800);
    font-family: 'Oswald', sans-serif;
}
header{
    background: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 1rem 2rem; 
}
header .logo{
    margin-top: 10px;
}
header .logo a{
    font-weight: 600;
    text-decoration: none;
    font-size: 2.5rem;
}
.bsbLogo{
    color: #FAFF00;
    background-image: linear-gradient(to bottom, #208520 ,#a5ffa5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.goldenLogo{
    color: #FAFF00;
    background-image: linear-gradient(to top, #E0E0E0 ,#686868);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header #btnNavOpen {
    display: none;
    padding: 15px 10px;
    height: 10px;
}
header #btnNavOpen .traco{
    width: 20px;
    height: 3px;
    background: #000;
    position: relative;
}
header #btnNavOpen .traco::after {
    content: "";
    display: block;
    transform: translateY(5px);
    width: 20px;
    height: 3px;
    background: #000;
}
header #btnNavOpen .traco::before {
    content: "";
    display: block;
    transform: translateY(-8px);
    width: 20px;
    height: 3px;
    background: #000;
}
nav ul {
    display: flex;
    gap: 18px;
    list-style: none;
}
ul li a{
    position: relative;
    letter-spacing: 1.3px;
    text-decoration: none;
    color: #fff;
}
ul li a::after{
    transition: all 0.5s;
    position: absolute;
    content: "";
    width: 0px;
    height: 2px;
    background: transparent;
    display: block;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
ul li a:hover::after{
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background: currentColor;
    display: block;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
main{
    display: flex;
    color: var(--white);
    padding-left: 1rem;
}
.green{
    color: var(--green);
}
main .left h1{
    font-size: clamp(0rem, 4vw, 2rem);
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
main .left p{
    padding-left: 20px;
    border-left: 2px solid var(--green);
    margin-top: 20px;
    font-weight: 100;
    font-size: clamp(0.5rem, 1.5vw, 2rem);
}
main .left button{
    cursor: pointer;
    transition: transform 0.5s;
    padding: 1rem;
    background: var(--green);
    border-radius: 10px;
    border: none;
    margin-top: 18vh;
    animation: btn 2s  infinite;
    width: 40%;
}
main .left button a{
    font-size: clamp(10px, 3.2vw, 20px);
    color: var(--white);
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

main .right{
    min-width: 50vw;
    display: flex; 
    align-items: center;
    justify-content: center;
}
main .right .content{
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 50%;
    /* background: #00BF62; */
}
main .right img{
    margin-left: 0%;
    width: 100%;
    object-fit: fill;
}
#metodo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
}
#metodo h1{
    font-size: clamp(10px, 3.2vw, 32px);
    text-align: center;
    margin-bottom: 20px;
}
#metodo img{
    width: 80%;
    margin-bottom: 20px;
}
@keyframes btn {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1.0);
    }
}
.secao2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secao2 h1{
    font-size: clamp(10px, 3.2vw, 46px);
    margin-top: 20px;
    margin-bottom: -60px;
    text-align: center;
    color: var(--white);
}
.secao2 img{
    width: 90vw;
}
.secao2 .depoiments{
    color: var(--white);
    margin-top: -100px;
}
.secao2 .depoiments h1{ 
    font-size: clamp(10px, 3.2vw, 46px);
}
.secao2 .depoiments .card{
    border-radius: 10px;
    background: var(--gray700);
    padding: 1rem;
}
.secao2 .depoiments .swiper{
    margin-top: 100px;
    height: 400px;
    width: 80vw;
}

.secao2 .depoiments .swiper-wrapper .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.secao2 .depoiments .swiper-wrapper .swiper-slide .content{
    background: #172124;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.secao2 .depoiments .swiper-wrapper .swiper-slide .content h2{
    margin-bottom: 30px;
    margin-right: auto;
}
.secao2 .depoiments .swiper-wrapper .swiper-slide .content p{
    font-weight: 200;
    letter-spacing: 1px;
}
.secao3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
}
.secao3 .content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}
.secao3 .content .contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
    background: var(--gray700);
}
.secao3 .content .contato button{
    padding: 0.5rem;
    background: var(--blue);
    border: none;
    border-radius: 5px;
}
.secao3 .content .contato button a {
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    color: var(--black);
}
@media(max-width: 768px){
    main{
        display: flex;
        flex-direction: column;
    }

    main .left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    main .left h1{
        text-align: center;
        display: flex;
    }
    main .left p{
        margin-left: -30px;
        text-align: left;
        padding-left: 9px;
    }
    main .left button {
        
        margin-top: 30px;
    }
    main .right{
        width: 100vw;
        display: grid;
        place-items: center;
    }
    main .right img{
        margin: 0;
    }
        #metodo img {
            width: 100%;
        }
}
@media(max-width: 650px){
    header{
        position: relative;
    }
    header nav{
        display: none;
        width: 100vw;
        min-height: 100vh;
        background: var(--white);
        padding: 1rem;
        position: absolute;
        top: calc(80px);
        left: 0;
        z-index: 1;
        text-align: center;
    }
    header nav ul {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header nav ul li a{
        color: #000;
    }
    header #btnNavOpen{
        display: block;
    }
    .secao2 h1{
        margin: 0 50px;
    }
    .secao2 .depoiments {
        width: 100vw;
    }
    .secao2 .depoiments h1{
        margin-top: 100px;
    }
    .secao2 .depoiments .swiper{
        width: 100vw;
    }
    .secao3 .content{
        flex-direction: column;
    }
    .secao3 .content .contato{
        width: 80vw;
    }
    .secao2 .depoiments .swiper-wrapper .swiper-slide .content{
            width: 90%;
    }
}
.show {
    display: flex;
}
.scroll{
    overflow-y: hidden;
}