@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white: #fff;
    --black: #000;
    --gray100: #969696;
    --gray200: #727272;
    --gray700: #272727;
    --gray800: #1a1919;
    --green: #03ff8d;
}
body{
    background: var(--gray800);
    font-family: 'Oswald', sans-serif;
}
header{
    background: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 1rem 2rem; 
}
header .logo{
    margin-top: 10px;
}
header .logo a{
    font-weight: 600;
    text-decoration: none;
    font-size: 2.5rem;
}
.bsbLogo{
    color: #FAFF00;
    background-image: linear-gradient(to bottom, #208520 ,#a5ffa5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.goldenLogo{
    color: #FAFF00;
    background-image: linear-gradient(to top, #E0E0E0 ,#686868);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav ul {
    display: flex;
    gap: 18px;
    list-style: none;
}
ul li a{
    position: relative;
    letter-spacing: 1.3px;
    text-decoration: none;
    color: #fff;
}
ul li a::after{
    transition: all 0.5s;
    position: absolute;
    content: "";
    width: 0px;
    height: 2px;
    background: transparent;
    display: block;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
ul li a:hover::after{
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background: #FFF;
    display: block;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
main{
    display: flex;
    color: var(--white);
    padding-left: 1rem;
}
.green{
    color: var(--green);
}
main .left h1{
    font-size: clamp(0rem, 4vw, 2rem);
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
main .left p{
    padding-left: 20px;
    border-left: 2px solid var(--green);
    margin-top: 20px;
    font-weight: 100;
    font-size: clamp(0rem, 1.5vw, 2rem);
}
main .left button{
    cursor: pointer;
    transition: transform 0.5s;
    padding: 1rem;
    background: var(--green);
    border-radius: 10px;
    border: none;
    margin-top: 18vh;
    animation: btn 2s  infinite;
}
main .left button a{
    font-size: 25px;
    color: var(--white);
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

main .right{
    min-width: 50vw;
    display: flex; 
    align-items: center;
    justify-content: center;
}
main .right img{
    margin-left: 20%;
    width: 45%;
}

@keyframes btn {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1.0);
    }
}
.secao2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secao2 h1{
    font-size: clamp(10px, 3.2vw, 46px);
    margin-top: 20px;
    margin-bottom: -60px;
    text-align: center;
    color: var(--white);
}
.secao2 img{
    width: 90vw;
}
.secao2 .depoiments{
    color: var(--white);
    margin-top: -100px;
}
.secao2 .depoiments h1{ 
    font-size: clamp(10px, 3.2vw, 46px);
}
.secao2 .depoiments .card{
    border-radius: 10px;
    background: var(--gray700);
    padding: 1rem;
}
.secao2 .depoiments .swiper{
    margin-top: 100px;
}
.secao2 .depoiments .swiper-slide{
    background: var(--gray700);
}
.secao2 .depoiments .swiper-wrapper .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.secao2 .depoiments .swiper-wrapper .swiper-slide .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}